/* static/authenticate.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Светло-голубой фон */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.auth-form label {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
    text-align: left;
}

.auth-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.auth-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.auth-button:hover {
    background-color: #0056b3;
}

.register-link {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}

.flash-messages {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.flash-messages li {
    color: red;
    font-size: 0.9rem;
}
