<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="center">
        <h1>Добро пожаловать в систему</h1>
        <a href="{{ url_for('routes.authenticate') }}" class="start-button">Начать</a>
    </div>
    <a href="{{ url_for('routes.exit_app') }}" class="exit-button">Выход</a>
</body>
</html>
